#formu {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

#tabla {
    width: 40%;
    margin: auto;
}

#formu2 {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}