body {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#formu {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

#tabla {
    width: 40%;
    margin: auto;
}

#formu2 {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}